
#ifndef PROBLEM_H
#define PROBLEM_H

#include "ecos.h"

{% for name, func in native_func_defs.items() %}
{{func.header}};{% endfor %}

void gather_variables();

void gather_matrices();

int solve();

void clean();

#endif //PROBLEM_H
